<!doctype html>
<html>
<head>

</head>
<body ng-cloak class="ng-cloak" ng-controller = "coursesCtrl">
<div class="col-lg-12">
  <div class = "row">
    <h3 class="page-header">{{lang.courses}}</h3>
  </div>
  <div class="table-responsive">
    <a class="btn btn-info pull-right" ng-click = "showWithName('','addCourseModal')">{{lang.add}}</a>
    <br>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#id</th>
        <th>{{lang.title}}</th>
        <th>{{lang.startDate}}</th>
        <th>{{lang.endDate}}</th>
        <th>{{lang.themes}}</th>
        <th>{{lang.subscribers}}</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="course in courses">
        <td>{{course.id}}</td>
        <td>{{course.title}}</td>
        <td>{{course.startDate}}</td>
        <td>
          {{course.endDate}}
        </td>
        <td>
          <h6 ng-repeat="theme in course.themes"><span class = "badge">{{theme}}</span></h6>
        </td>
        <td>
          {{course.subscribersCount}}
        </td>
        <td class="col-lg-1">
          <a class="btn btn-warning btn-sm" ng-click = "showWithName(course, 'courseModal')">{{lang.details}}</a>
        </td>
        <td class="col-lg-1">
          <a class="btn btn-danger btn-sm" ng-click = "deleteCourse(course)">{{lang.delete}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>