<!doctype html>
<html>
<head>

</head>

<body ng-cloak class="ng-cloak" ng-controller = "activeCtrl">
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>#id</th>
      <th>{lang.userName}}</th>
      <th>{lang.userEmail}}</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in usersFromDb">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>
        {{user.email}}
      </td>
      <td class="col-lg-1">
        <a class="btn btn-success btn-sm" ng-click = "confirm(user)">{lang.confirm}}</a>
      </td>
      <td class="col-lg-1">
        <a class="btn btn-danger btn-sm" ng-click = "ban(user)">{lang.ban}}</a>
      </td>
      <td class="col-lg-1">
        <a class="btn btn-warning btn-sm" ng-click = "showDetails(user)">{lang.details}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">{lang.userDetails}}</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" style="margin: 0 auto;">
              <img src="/uploads/users/{{detailsData.image}}" width="300" height="300">
            </div>
            <label class="control-label" for="name">{lang.name}}</label>
            <input type="text" id = "name" ng-model = "detailsData.name" class="form-control" disabled>

            <label class="control-label" for="email">{lang.email}}</label>
            <input type="text" id = "email" ng-model = "detailsData.email" class="form-control" disabled>

            <label class="control-label" for="login">{lang.login}}</label>
            <input type="text" id = "login" ng-model = "detailsData.login" class="form-control" disabled>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id = "enabled" class="btn btn-success" ng-click="confirm(user)">{lang.Confirm}}</button>
          <button type="button" class="btn btn-default" ng-click="hide()">{lang.Cancel}}</button>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>