<!doctype html>
<html>
<head>

</head>

<body ng-cloak class="ng-cloak" ng-controller = "tutorsCtrl">
    <a class="btn btn-info pull-right" ng-click = "showWithName('','addTutor')">{lang.add}}</a>
<br>
<br>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#id</th>
            <th>{lang.userName}}</th>
            <th>{lang.userEmail}}</th>
            <th>{lang.coursesCount}}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in usersFromDb">
                <td ng-click = showCourses(user)>{{user.id}}</td>
                <td ng-click = showCourses(user)>{{user.name}}</td>
                <td ng-click = showCourses(user)>
                    {{user.email}}
                </td>
                <td ng-click = showCourses(user)>
                    {{ getCount(user.id) }}
                </td>
                <td class="col-lg-1">
                    <a class="btn btn-primary btn-sm" ng-click = "showDetails(user)">{lang.details}}</a>
                </td>
                <td class="col-lg-1">
                    <a class="btn btn-danger btn-sm" ng-click = "delete(user)">{lang.delete}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade"  id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel2">{lang.userDetails}}</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <h3>{lang.tutorsCourses}}</h3>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#id</th>
                                    <th>{lang.title}}</th>
                                    <th>{lang.startDate}}</th>
                                    <th>{lang.endDate}}</th>
                                    <th>{lang.themes}}</th>
                                    <th>{lang.subscribers}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="course in usersWithCourses[currUser]">
                                    <td>{{course.id}}</td>
                                    <td>{{course.title}}</td>
                                    <td>{{course.startDate}}</td>
                                    <td>
                                        {{course.endDate}}
                                    </td>
                                    <td>
                                        <h6 ng-repeat="theme in course.themes"><span class = "badge">{{theme}}</span></h6>
                                    </td>
                                    <td>
                                        {{course.subscribersCount}}
                                    </td>
                                    <td class="col-lg-1">
                                        <a class="btn btn-warning btn-sm" ng-click = "showWithName(course, 'courseModal')">{lang.details}}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="">
                                <a class="btn btn-default btn-sm col-lg-1 col-lg-offset-11 pull-right" ng-click = "hideWithName('modal2')">{lang.cancel}}</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">{lang.userDetails}}</h2>
            </div>
            <div class="modal-body">
                <form id="loginform" name="tutorForm" action="" class="form-horizontal" role="form" enctype="multipart/form-data" novalidate>
                    <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                    <div class="form-group" ng-class="{ 'has-error': tutorForm.name.$touched && tutorForm.name.$invalid }">
                        <label class="control-label" for="name">{lang.name}}</label>
                        <input type="text" id = "name" name = "name" ng-model = "detailsData.name" class="form-control" ng-model="formData.name"
                               ng-minlength="3"
                               ng-maxlength="100"
                               required>
                        <div class="help-block" ng-messages="tutorForm.name.$error" ng-show="tutorForm.name.$touched">
                            <p ng-message="minlength">{lang.tooShort3}}</p>
                            <p ng-message="maxlength">{lang.tooLong100}}</p>
                            <p ng-message="required">{lang.required}}</p>
                            <p ng-message="pattern">{lang.invalidFormat}}</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': tutorForm.email.$touched && tutorForm.email.$invalid }">

                        <label class="control-label" for="email">{lang.email}}</label>
                        <input type="email" id = "email" name = "email" ng-pattern="emailTemplate" ng-model = "detailsData.email" class="form-control" ng-model="formData.email"
                               ng-minlength="5"
                               ng-maxlength="100"
                               required>
                        <div class="help-block" ng-messages="tutorForm.email.$error" ng-show="tutorForm.email.$touched">
                            <p ng-message="minlength">{lang.tooShort5}}</p>
                            <p ng-message="maxlength">{lang.tooLong100}}</p>
                            <p ng-message="required">{lang.required}}</p>
                            <p ng-message="email">{lang.invalidEmail}}</p>
                            <p ng-message="pattern">{lang.invalidFormat}}</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': tutorForm.login.$touched && tutorForm.login.$invalid }">
                        <label class="control-label" for="login">{lang.login}}</label>
                        <input type="text" id = "login" name = "login" ng-model = "detailsData.login" class="form-control" disabledplaceholder="{lang.login}}"
                               ng-model="formData.login"
                               ng-minlength="5"
                               ng-maxlength="100"
                               required>
                        <div class="help-block" ng-messages="tutorForm.login.$error" ng-show="tutorForm.login.$touched">
                            <p ng-message="minlength">{lang.tooShort5}}</p>
                            <p ng-message="maxlength">{lang.tooLong100}}</p>
                            <p ng-message="required">{lang.required}}</p>
                            <p ng-message="pattern">{lang.invalidFormat}}</p>
                        </div>
                     </div>

                        <div class="radio" >
                            <label>
                                <input type="radio" class="radio-button" ng-model="detailsData.enabled" name="status" ng-checked = "true" checked value="ACTIVE">
                                {lang.active}}
                            </label>
                            <label>
                                <input type="radio" class="radio-button" ng-model="detailsData.enabled" name="status" value="BANNED">
                                {lang.ban}}
                            </label>
                        </div>
                        <div class="help-block " ng-messages="tutorForm.roles.$error" ng-show="tutorForm.roles.$touched">
                            <label class="control-label" for="roles">{lang.roles}}</label>
                            <select id = "roles" name = "roles" required ng-model = "detailsData.roles"
                                    ng-multiple="true" multiple data-placeholder="{lang.roles}}"
                                    chosen
                                    class="form-control"
                                    ng-options="role for role in roles">
                            </select>
                        </div>
                        <br>
                        <div class="row" ng-show = "newImage.localeCompare('')==0" style="margin: 0 auto;">
                            <img src="/uploads/users/{{detailsData.image}}" width="100" height="100">
                        </div>
                        <div class="row">
                            <input type="file" name="image" placeholder="{image}}" ng-model="newImage" accept="image/*" app-filereader/>
                        </div>
                    </div>
                </div>

                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-show="!tutorForm.$invalid" ng-click="submit()">{lang.update}}</button>
                    <button type="button" class="btn btn-default" ng-click="hide()">{lang.Cancel}}</button>
                </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
</html>